/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

#staff_table_wrapper > .row, 
#service_table_wrapper > .row{
    margin-bottom: 1em;
}

.dataTables_info {
    white-space: nowrap;
}

.btn-primary {
    margin-bottom: 1em;
}

#service_table_wrapper .row{
    margin-bottom: 1em;
}