<app-customer></app-customer>

<!-- Datatable -->
<table datatable id="customer_table" class="table table-sm table-hover table-striped table-bordered" [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger">
  <thead class="text-center thead-dark">
    <tr>
      <!-- <td>{{staff.Username}}</td> -->
      <!-- <td>{{staff.Password}}</td> -->
      <th>Customer Name</th>
      <!-- <td>{{staff.Username}}</td> -->
      <th>Gender</th>
      <th>Phone Number</th>
      <th>Level</th>
      <th>Username</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customerList">
      <!-- <td>{{staff.Username}}</td> -->
      <!-- <td>{{staff.Password}}</td> -->
      <td>{{customer.FullName}}</td>
      <!-- <td>{{staff.Username}}</td> -->
      <td>{{customer.Gender}}</td>
      <td>{{customer.PhoneNumber}}</td>
      <td>{{customer.Level}}</td>
      <td>{{customer.Username}}</td>
      <td>{{customer.Password}}</td>
      <td class="text-center" style="white-space: nowrap;">
        <a class="btn" (click)="onEdit(customer)" (click)="open(content)">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="btn" (click)="onDelete(customer.$key)">
          <i class="fa fa-trash-o"></i>
        </a>
        <a class="btn" (click)="onEdit(customer)" (click)="openDetail(contentDetail)">
          <i class="fa fa-info-circle"></i>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr></tr>
  </tfoot>
</table>

<!-- Popup form -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm)" name="myForm">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="customerService.selectedCustomer.$key">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Full Name</span>
        </div>
        <input class="form-control" name="FullName" #FullName="ngModel" [(ngModel)]="customerService.selectedCustomer.FullName"
          placeholder="ServiceName" required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Gender</span>
        </div>
        <input class="form-control" name="Gender" #Gender="ngModel" [(ngModel)]="customerService.selectedCustomer.Gender" placeholder="Gender">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Phone Number</span>
        </div>
        <input class="form-control" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="customerService.selectedCustomer.PhoneNumber" placeholder="PhoneNumber">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Level</span>
        </div>
        <input class="form-control" name="Level" #Level="ngModel" [(ngModel)]="customerService.selectedCustomer.Level" placeholder="level">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Username</span>
        </div>
        <input class="form-control" name="Username" #Username="ngModel" [(ngModel)]="customerService.selectedCustomer.Username" placeholder="Username">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Password</span>
        </div>
        <input class="form-control" name="Password" #Password="ngModel" [(ngModel)]="customerService.selectedCustomer.Password" placeholder="Password" type="password">
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" [disabled]="!customerForm.valid" (click)="onSubmit(customerForm)" (click)="c('Save click')">
      <i class="fa fa-floppy-o"></i>
      Submit</button>
  </div>
</ng-template>

<!-- Detail -->
<ng-template #contentDetail let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Service Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #customerForm="ngForm" name="myForm">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="customerService.selectedCustomer.$key">

      <button type="button" class="btn btn-lg btn-primary col-md-12" disabled>{{customerService.selectedCustomer.FullName}}</button>
      <div class="row text-center">
        <div class="col-md-12">
          <p>
            <span class="font-weight-bold">Gender:</span> {{customerService.selectedCustomer.Gender}}</p>
          <p>
            <span class="font-weight-bold">Phone Number:</span> {{customerService.selectedCustomer.PhoneNumber}}</p>
          <p>
            <span class="font-weight-bold">Level:</span> {{customerService.selectedCustomer.Level}}</p>
          <p>
            <span class="font-weight-bold">Username:</span> {{customerService.selectedCustomer.Username}}</p>
          <p>
            <span class="font-weight-bold">Password:</span> {{customerService.selectedCustomer.Password}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="c('Save click')">Close</button>
      </div>
    </form>
  </div>
</ng-template>