<button class="btn btn-primary btn-sm" (click)="open(content)">
  <i class="fa fa-user-plus"></i> Create Customer
</button>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm)" name="myForm">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="customerService.selectedCustomer.$key">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Full Name</span>
        </div>
        <input class="form-control" name="FullName" #FullName="ngModel" [(ngModel)]="customerService.selectedCustomer.FullName"
        placeholder="fullName" 
        [ngClass]="{'is-invalid':FullName.touched && FullName.invalid}"
        required>
        <div class="invalid-feedback" *ngIf="FullName?.errors?.required">
          <div>FullName is required.</div>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Gender</span>
        </div>
        <select class="form-control" name="Gender" #Gender="ngModel" [(ngModel)]="customerService.selectedCustomer.Gender"
          placeholder="gender" 
          [ngClass]="{'is-invalid':Gender.touched && Gender.invalid}"
          required>
          <option value="Nam">Nam</option>
          <option value="Nữ">Nữ</option>
        </select>
        <div class="invalid-feedback" *ngIf="Gender?.errors?.required">
          <div>Gender is required.</div>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Phone Number</span>
        </div>
        <input class="form-control" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="customerService.selectedCustomer.PhoneNumber"
        placeholder="phoneNumber"
        [ngClass]="{'is-invalid':PhoneNumber.touched && PhoneNumber.invalid}"
        required>
        <div class="invalid-feedback" *ngIf="PhoneNumber?.errors?.required">
          <div>Phone Number is required.</div>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Level</span>
        </div>
        <input class="form-control" name="Level" #Level="ngModel" [(ngModel)]="customerService.selectedCustomer.Level"
        [ngClass]="{'is-invalid':Level.touched && Level.invalid}"
        required>
        <div class="invalid-feedback" *ngIf="Level?.errors?.required">
          <div>Level is required.</div>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Username</span>
        </div>
        <input class="form-control" name="Username" #Username="ngModel" [(ngModel)]="customerService.selectedCustomer.Username"
        placeholder="username"
        [ngClass]="{'is-invalid':Username.touched && Username.invalid}"
        required
        pattern="^[a-zA-Z0-9_-]{8,15}$">
        <div class="invalid-feedback" *ngIf="Username?.errors?.required">
          <div>Username is required.</div>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Password</span>
        </div>
        <input class="form-control" name="Password" #Password="ngModel" [(ngModel)]="customerService.selectedCustomer.Password"
          placeholder="ex: 123456aa" type="password"
          [ngClass]="{'is-invalid':Password.touched && Password.invalid}"
          required>
          <div class="invalid-feedback" *ngIf="Password?.errors?.required">
            <div>Password is required.</div>
          </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Confirm Password</span>
        </div>
        <input class="form-control" name="ConfirmPassword" #ConfirmPassword="ngModel" [(ngModel)]="customerService.selectedCustomer.ConfirmPassword"
          placeholder="ex: 123456aa" type="password"
          [ngClass]="{'is-invalid':ConfirmPassword.touched && ConfirmPassword.invalid}"
          required
          compare="Password">
          <div class="invalid-feedback" *ngIf="Password?.errors?.required">
            <div>Confirm Password is required.</div>
          </div>
          <div class="invalid-feedback" *ngIf="ConfirmPassword?.errors?.compare">
            Password does not match!
         </div>
      </div>


      <div class="modal-footer">
        <button class="btn btn-primary" type="button" [disabled]="!customerForm.valid" (click)="onSubmit(customerForm)"
          (click)="c('Save click')">
          <i class="fa fa-floppy-o"></i>
          Submit</button>
        <!-- <button class="btn btn-warning" type="button" (click)="resetForm(staffForm)">
          <i class="fa fa-repeat"></i>
          Reset</button> -->
      </div>
    </form>
  </div>

  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div> -->

</ng-template>