<button class="btn btn-primary btn-sm" (click)="open(content)">
  <i class="fa fa-user-plus"></i> Create Staff
</button>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Staff</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #staffForm="ngForm" (ngSubmit)="staffForm.form.valid && onSubmit(staffForm)" name="myForm" novalidate>
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="staffService.selectedStaff.$key">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Username</span>
        </div>
        <input class="form-control" name="Username" #Username="ngModel" [(ngModel)]="staffService.selectedStaff.Username" placeholder="Username" [ngClass]="{'is-invalid':staffForm.submitted && Username.invalid}" required>
        <div class="invalid-feedback">
          <div>Username is required</div>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Password</span>
        </div>
        <input class="form-control" name="Password" #Password="ngModel" [(ngModel)]="staffService.selectedStaff.Password" placeholder="Password"
          type="password">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">FullName</span>
        </div>
        <input class="form-control" name="FullName" #FullName="ngModel" [(ngModel)]="staffService.selectedStaff.FullName" placeholder="FullName">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Sexual</span>
        </div>
        <select class="form-control" name="Sex" #Sex="ngModel" [(ngModel)]="staffService.selectedStaff.Sex">
          <option value="Nam">Nam</option>
          <option value="Nữ">Nữ</option>
        </select>
        <!-- <input class="form-control" name="Sex" #Sex="ngModel" [(ngModel)]="staffService.selectedStaff.Sex" placeholder="Sex" required> -->
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">DayOfBirth</span>
        </div>
        <input class="form-control" name="DayOfBirth" #DayOfBirth="ngModel" [(ngModel)]="staffService.selectedStaff.DayOfBirth" placeholder="DayOfBirth"
          type="date">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">PhoneNumber</span>
        </div>
        <input class="form-control" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="staffService.selectedStaff.PhoneNumber"
          placeholder="PhoneNumber" type="number">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Address</span>
        </div>
        <textarea class="form-control" name="Address" #Address="ngModel" [(ngModel)]="staffService.selectedStaff.Address" placeholder="Address"></textarea>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Salary</span>
        </div>
        <input class="form-control" name="Salary" #Salary="ngModel" [(ngModel)]="staffService.selectedStaff.Salary" placeholder="Salary"
          type="number">
      </div>

      <div>{{staffService.selectedStaff|json}}</div>

      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" (click)="onSubmit(staffForm)">
          <i class="fa fa-floppy-o"></i>
          Submit</button>
      </div>

      <!-- <div class="modal-footer">
        <button class="btn btn-primary" type="submit" [disabled]="!staffForm.valid" (click)="onSubmit(staffForm)" (click)="c('Save click')">
          <i class="fa fa-floppy-o"></i>
          Submit</button>
      </div> -->
    </form>
  </div>
</ng-template>