<div class="container">
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">HCS ADMIN PAGE</a>
  </nav>
  <br>
  <div class="row">
    <div class="col-md-3">
      <nav>
        <div class="list-group">
          <a class="list-group-item" routerLink="/management">
            <i class="fa fa-users"></i> STAFF MANAGEMENT</a>
          <a class="list-group-item" routerLink="/sermanagement">
            <i class="fa fa-id-card"></i> SERVICE MANGEMENT</a>
          <a class="list-group-item" routerLink="/customermanagement">
            <i class="fa fa-user-circle"></i> CUSTOMER MANAGEMENT</a>
          <a class="list-group-item" routerLink="/">
            <i class="fa fa-user"></i> USER MANAGEMENT</a>
          <a class="list-group-item" routerLink="/booking">
            <i class="fa fa-id-card"></i> BOOKING</a>
          <a class="list-group-item" routerLink="/">
            <i class="fa fa-id-card"></i> TEST MANAGEMENT</a>
          <a class="list-group-item" routerLink="/">
            <i class="fa fa-id-card"></i> TEST MANAGEMENT</a>
          <a class="list-group-item" routerLink="/">
            <i class="fa fa-id-card"></i> TEST MANAGEMENT</a>
          <a class="list-group-item" routerLink="/">
            <i class="fa fa-id-card"></i> TEST MANAGEMENT</a>
          <a class="list-group-item" routerLink="/">
            <i class="fa fa-id-card"></i>TEST MANAGEMENT</a>
        </div>
      </nav>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <div class="jumbotron">
  <div class="container">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
</div> -->