<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Đặt lịch</h4>
        <hr>
        <form #bookingForm="ngForm" (ngSubmit)="onSubmit(bookingForm)" name="myForm">
          <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="bookingService.selectedBooking.$key">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Họ tên</label>
              <input type="text" class="form-control" name="CustomerName" #CustomerName="ngModel" [(ngModel)]="bookingService.selectedBooking.CustomerName">
            </div>
            <div class="form-group col-md-2">
              <label>Giới tính</label>
              <select class="form-control custom-select" name="Gender" #Gender="ngModel" [(ngModel)]="bookingService.selectedBooking.Gender">
                <option selected>Nam</option>
                <option>Nữ</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label>Số điện thoại</label>
              <input type="text" class="form-control" name="Phone" #Phone="ngModel" [(ngModel)]="bookingService.selectedBooking.Phone">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Chọn dịch vụ</label>
              <ng-multiselect-dropdown [placeholder]="'Chọn dịch vụ'" [data]="serviceList" [settings]="dropdownServiceSettings"
                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" name="Services" #Services="ngModel"
                [(ngModel)]="bookingService.selectedBooking.Services">
              </ng-multiselect-dropdown>
            </div>
            <div class="form-group col-md-6">
              <label>Chọn Stylish</label>
              <ng-multiselect-dropdown [placeholder]="'Chọn Stylish'" [data]="staffList" [settings]="dropdownStaffSettings"
                [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" name="StaffName"
                #StaffName="ngModel">
              </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Chọn ngày</label>
              <div class="input-group">
                <input class="form-control" ngbDatepicker #d="ngbDatepicker" name="Date" #Date="ngModel"
                  [(ngModel)]="bookingService.selectedBooking.Date" (change)="onChangeDateSelected(bookingService.selectedBooking.Date)">
                <div class="input-group-append">
                  <button class="btn btn-primary" (click)="d.toggle()" type="button"><i class="fa fa-align-justify"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12">
              <label>Chọn giờ</label>
              <div class="form-group">
                <div class="btn-group btn-group-toggle TimePicker" ngbRadioGroup name="StartTime" #StartTime="ngModel"
                  [(ngModel)]="bookingService.selectedBooking.StartTime">
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0800" [disabled]="check8h">08:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0815" [disabled]="check8h15">08:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0830" [disabled]="check8h30">08:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0845" [disabled]="check8h45">08:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0900" [disabled]="check9h">09:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0915" [disabled]="check9h15">09:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0930" [disabled]="check9h30">09:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0945" [disabled]="check9h45">09:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1000" [disabled]="check10h">10:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1015" [disabled]="check10h15">10:15
                  </label>

                  <!-- <label *ngFor="let timer of time" ngbButtonLabel class="btn-outline-primary">
              <input ngbButton type="radio" [value]="(timer.TimeVal)">{{timer.TimeFrame}}
            </label> -->
                </div>

                <div class="btn-group btn-group-toggle TimePicker" ngbRadioGroup name="StartTime" #StartTime="ngModel"
                  [(ngModel)]="bookingService.selectedBooking.StartTime">
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1030" [disabled]="check10h30">10:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1045" [disabled]="check10h45">10:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1100" [disabled]="check11h">11:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1115" [disabled]="check11h15">11:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1130" [disabled]="check11h30">11:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1145" [disabled]="check11h45">11:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1300" [disabled]="check13h">13:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1315" [disabled]="check13h15">13:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" value="1330" [disabled]="check13h30">13:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" value="1345" [disabled]="check13h45">13:45
                  </label>
                  <!-- <label *ngFor="let timer of time" ngbButtonLabel class="btn-outline-primary">
              <input ngbButton type="radio" [value]="(timer.TimeVal)">{{timer.TimeFrame}}
            </label> -->
                </div>

                <div class="btn-group btn-group-toggle TimePicker" ngbRadioGroup name="StartTime" #StartTime="ngModel"
                  [(ngModel)]="bookingService.selectedBooking.StartTime">

                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1400" [disabled]="check14h">14:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1415" [disabled]="check14h15">14:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1430" [disabled]="check14h30">14:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1445" [disabled]="check14h45">14:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1500" [disabled]="check15h">15:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1515" [disabled]="check15h15">15:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1530" [disabled]="check15h30">15:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1545" [disabled]="check15h45">15:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1600" [disabled]="check16h">16:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1615" [disabled]="check16h15">16:15
                  </label>
                </div>

                <div class="btn-group btn-group-toggle TimePicker" ngbRadioGroup name="StartTime" #StartTime="ngModel"
                  [(ngModel)]="bookingService.selectedBooking.StartTime">
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1630" [disabled]="check16h30">16:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1645" [disabled]="check16h45">16:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1700" [disabled]="check17h">17:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1715" [disabled]="check17h15">17:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1730" [disabled]="check17h30">17:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1745" [disabled]="check17h45">17:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1800" [disabled]="check18h">18:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1815" [disabled]="check18h15">18:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1830" [disabled]="check18h30">18:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1845" [disabled]="check18h45">18:45
                  </label>
                  <!-- <label *ngFor="let timer of time" ngbButtonLabel class="btn-outline-primary">
              <input ngbButton type="radio" [value]="(timer.TimeVal)">{{timer.TimeFrame}}
            </label> -->
                </div>
              </div>
            </div>


            <input type="hidden" name="EndTime" #EndTime="ngModel" [(ngModel)]="bookingService.selectedBooking.EndTime">

            <pre>{{bookingService.selectedBooking.StartTime | json}}</pre>
          </div>
          <hr>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="openVerticallyCentered(content)">Đặt lịch</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<!-- Info Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Thông báo </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf="message">{{message}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>