<form #bookingForm="ngForm" (ngSubmit)="onSubmit(bookingForm)" name="myForm">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="bookingService.selectedBooking.$key">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Họ tên</label>
      <input type="text" class="form-control" name="CustomerName" #CustomerName="ngModel" [(ngModel)]="bookingService.selectedBooking.CustomerName">
    </div>
    <div class="form-group col-md-2">
      <label>Giới tính</label>
      <select class="form-control custom-select" name="Gender" #Gender="ngModel" [(ngModel)]="bookingService.selectedBooking.Gender">
        <option selected>Nam</option>
        <option>Nữ</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label>Số điện thoại</label>
      <input type="text" class="form-control" name="Phone" #Phone="ngModel" [(ngModel)]="bookingService.selectedBooking.Phone">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Chọn dịch vụ</label>
      <ng-multiselect-dropdown [placeholder]="'Chọn dịch vụ'" [data]="serviceList" [settings]="dropdownServiceSettings"
        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" name="Services" #Services="ngModel" [(ngModel)]="bookingService.selectedBooking.Services">
      </ng-multiselect-dropdown>
    </div>
    <div class="form-group col-md-6">
      <label>Chọn Stylish</label>
      <ng-multiselect-dropdown [placeholder]="'Chọn Stylish'" [data]="staffList" [settings]="dropdownStaffSettings"
        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" name="StaffName" #StaffName="ngModel" [(ngModel)]="bookingService.selectedBooking.StaffName">
      </ng-multiselect-dropdown>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Chọn ngày</label>
      <div class="input-group">
        <input class="form-control" placeholder="Chọn ngày" ngbDatepicker #d="ngbDatepicker"  name="Date" #Date="ngModel" [(ngModel)]="bookingService.selectedBooking.Date">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="d.toggle()" type="button"><i class="fa fa-align-justify"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Chọn giờ</label>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="StartTime" #StartTime="ngModel" [(ngModel)]="bookingService.selectedBooking.StartTime">
      <!-- <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="0800">8:00
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" value="0830">8:30
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="0900">9:00
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="0930">9:30
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="1000">10:00
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="1030">10:30
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="1100">11:00
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [disable] = 'dkasd.true' [value]="1130">11:30
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="1300">13:00
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" value="1330">13:30
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="1400">14:00
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="1430">14:30
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="1500">15:00
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="1530">15:30
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="1600">16:00
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="1630">16:30
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="1700">17:00
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="1730">17:30
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="1800">18:00
      </label>
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="1830">18:30
      </label> -->

      <label *ngFor="let timer of time" ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="radio" [value]="(timer.TimeVal)">{{timer.TimeFrame}}
      </label>
    </div>
    <input type="hidden" name="EndTime" #EndTime="ngModel" [(ngModel)]="bookingService.selectedBooking.EndTime">
    <hr>
    <pre>{{bookingService.selectedBooking}}</pre>
  </div>
  <button type="submit" class="btn btn-primary" (click)="openVerticallyCentered(content)">Đặt lịch</button>
</form>

<!-- Info Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Thong bao </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf="message">{{message}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>