<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Đặt lịch</h4>
        <hr>
        <form #bookingForm="ngForm" (ngSubmit)="onSubmit(bookingForm)" name="myForm">
          <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="bookingService.selectedBooking.$key">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Họ tên</label>
              <input type="text" class="form-control" name="CustomerName" #CustomerName="ngModel" [(ngModel)]="bookingService.selectedBooking.CustomerName">
            </div>
            <div class="form-group col-md-2">
              <label>Giới tính</label>
              <select class="form-control custom-select" name="Gender" #Gender="ngModel" [(ngModel)]="bookingService.selectedBooking.Gender">
                <option selected>Nam</option>
                <option>Nữ</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label>Số điện thoại</label>
              <input type="text" class="form-control" name="Phone" #Phone="ngModel" [(ngModel)]="bookingService.selectedBooking.Phone">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Chọn dịch vụ</label>
              <ng-multiselect-dropdown [placeholder]="'Chọn dịch vụ'" [data]="serviceList" [settings]="dropdownServiceSettings"
                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" name="Services" #Services="ngModel"
                [(ngModel)]="bookingService.selectedBooking.Services">
              </ng-multiselect-dropdown>
            </div>
            <div class="form-group col-md-6">
              <label>Chọn Stylish</label>
              <ng-multiselect-dropdown [placeholder]="'Chọn Stylish'" [data]="staffList" [settings]="dropdownStaffSettings"
                [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" name="StaffName"
                #StaffName="ngModel">
              </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Chọn ngày</label>
              <div class="input-group">
                <input class="form-control" ngbDatepicker #d="ngbDatepicker" name="Date" #Date="ngModel"
                  [(ngModel)]="bookingService.selectedBooking.Date" (ngModelChange)="onChangeDateSelected($event)">
                <div class="input-group-append">
                  <button class="btn btn-primary" (click)="d.toggle()" type="button"><i class="fa fa-align-justify"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12">
              <label>Chọn giờ</label>
              <div class="form-group">
                
                <div class="btn-group btn-group-toggle TimePicker" ngbRadioGroup name="StartTime" #StartTime="ngModel"
                  [(ngModel)]="bookingService.selectedBooking.StartTime">
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0800" [disabled]="isDisable[0]">08:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0815" [disabled]="isDisable[1]">08:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0830" [disabled]="isDisable[2]">08:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0845" [disabled]="isDisable[3]">08:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0900" [disabled]="isDisable[4]">09:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0915" [disabled]="isDisable[5]">09:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0930" [disabled]="isDisable[6]">09:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="0945" [disabled]="isDisable[7]">09:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1000" [disabled]="isDisable[8]">10:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1015" [disabled]="isDisable[9]">10:15
                  </label>

                  <!-- <label *ngFor="let timer of time" ngbButtonLabel class="btn-outline-primary">
              <input ngbButton type="radio" [value]="(timer.TimeVal)">{{timer.TimeFrame}}
            </label> -->
                </div>

                <div class="btn-group btn-group-toggle TimePicker" ngbRadioGroup name="StartTime" #StartTime="ngModel"
                  [(ngModel)]="bookingService.selectedBooking.StartTime">
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1030" [disabled]="isDisable[10]">10:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1045" [disabled]="isDisable[11]">10:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1100" [disabled]="isDisable[12]">11:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1115" [disabled]="isDisable[13]">11:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1130" [disabled]="isDisable[14]">11:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1145" [disabled]="isDisable[15]">11:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1300" [disabled]="isDisable[16]">13:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1315" [disabled]="isDisable[17]">13:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" value="1330" [disabled]="isDisable[18]">13:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" value="1345" [disabled]="isDisable[19]">13:45
                  </label>
                  <!-- <label *ngFor="let timer of time" ngbButtonLabel class="btn-outline-primary">
              <input ngbButton type="radio" [value]="(timer.TimeVal)">{{timer.TimeFrame}}
            </label> -->
                </div>

                <div class="btn-group btn-group-toggle TimePicker" ngbRadioGroup name="StartTime" #StartTime="ngModel"
                  [(ngModel)]="bookingService.selectedBooking.StartTime">

                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1400" [disabled]="isDisable[20]">14:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1415" [disabled]="isDisable[21]">14:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1430" [disabled]="isDisable[22]">14:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1445" [disabled]="isDisable[23]">14:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1500" [disabled]="isDisable[24]">15:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1515" [disabled]="isDisable[25]">15:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1530" [disabled]="isDisable[26]">15:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1545" [disabled]="isDisable[27]">15:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1600" [disabled]="isDisable[28]">16:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1615" [disabled]="isDisable[29]">16:15
                  </label>
                </div>

                <div class="btn-group btn-group-toggle TimePicker" ngbRadioGroup name="StartTime" #StartTime="ngModel"
                  [(ngModel)]="bookingService.selectedBooking.StartTime">
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1630" [disabled]="isDisable[30]">16:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1645" [disabled]="isDisable[31]">16:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1700" [disabled]="isDisable[32]">17:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1715" [disabled]="isDisable[33]">17:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1730" [disabled]="isDisable[34]">17:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1745" [disabled]="isDisable[35]">17:45
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1800" [disabled]="isDisable[36]">18:00
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1815" [disabled]="isDisable[37]">18:15
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1830" [disabled]="isDisable[38]">18:30
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="1845" [disabled]="isDisable[39]">18:45
                  </label>
                  <!-- <label *ngFor="let timer of time" ngbButtonLabel class="btn-outline-primary">
              <input ngbButton type="radio" [value]="(timer.TimeVal)">{{timer.TimeFrame}}
            </label> -->
                </div>
              </div>
            </div>


            <input type="hidden" name="EndTime" #EndTime="ngModel" [(ngModel)]="bookingService.selectedBooking.EndTime">

            <pre>{{bookingService.selectedBooking.StartTime | json}}</pre>
          </div>
          <hr>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="openVerticallyCentered(content)">Đặt lịch</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<!-- Info Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Thông báo </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf="message">{{message}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>