.TimePicker>label {
  width: 120px;
}

.TimePicker>label.disabled {
  background-color:cornflowerblue;
  color: #ffffff;
}

.TimePicker {
  /* margin-top: 10px !important; */
  margin-left: 0;
  display: inline-block;
  line-height: 3;
}
